body {
  overflow-x: hidden;
  background: #eeeee9;
}
#container {
  height: 100%;
  overflow: hidden;
}
li {
  list-style: none;
}
.row {
  margin: 0px;
}
.align_left {
  position: relative;
  float: left;
}
.align_right {
  position: relative;
  float: right;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
a,
li,
td {
  cursor: hand;
  cursor: pointer;
}
/*////////////////////////////////////////////////////////////////////////////////
//////// GRID
////////////////////////////////////////////////////////////////////////////////*/
.span1,
.span2,
.span3,
.span4,
.span5,
.span6,
.span7,
.span8 {
  margin: 0px;
}
.span1 {
  width: 80px;
}
.span2 {
  width: 160px;
}
.span3 {
  width: 240px;
}
.span4 {
  width: 320px;
}
.span5 {
  width: 400px;
}
.span6 {
  width: 480px;
}
.span7 {
  width: 560px;
}
.span8 {
  width: 640px;
}
.span1 .container,
.span2 .container,
.span3 .container,
.span4 .container,
.span5 .container,
.span6 .container,
.span7 .container,
.span8 .container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}
.panel {
  margin-left: 0px;
  margin-right: 16px;
  background-color: #ffffff;
  position: relative;
}
.active_panel {
  background-color: #ffffff;
}
.active_panel .actions_bar {
  background-color: #ffffff;
}
.inactive_panel {
  background-color: #f8f8f4;
}
.inactive_panel .actions_bar {
  background-color: #f8f8f4;
}
/*////////////////////////////////////////////////////////////////////////////////
//////// TYPE
////////////////////////////////////////////////////////////////////////////////*/
@font-face {
  font-family: "light";
  src: url('../fonts/segoeuisl.ttf');
}
@font-face {
  font-family: "regular";
  src: url('../fonts/segoeui.ttf');
}
@font-face {
  font-family: "bold";
  src: url('../fonts/seguisb.ttf');
}
h2 {
  font-size: 24px;
  color: #505152;
  font-family: "regular";
}
h2.teal {
  font-size: 24px;
  color: #1db194;
  font-family: "regular";
}
h3 {
  font-size: 18px;
  color: #8a8a7b;
  font-family: "regular";
}
p {
  font-size: 15px;
  color: #333333;
  font-family: "regular";
  line-height: 32px;
}
p.teal {
  font-size: 15px;
  color: #0c8072;
  font-family: "regular";
}
a {
  font-size: 15px;
  color: #0c8072;
  font-family: "regular";
}
a.selected {
  font-size: 15px;
  color: #333333;
  font-family: "regular";
}
/*////////////////////////////////////////////////////////////////////////////////
//////// BTN
////////////////////////////////////////////////////////////////////////////////*/
.btn {
  background-color: #b7b7a9;
  padding: 10px;
  background-image: none;
  border-color: none;
  text-shadow: none;
  border: 0px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  font-size: 13px;
  color: #ffffff;
  font-family: "bold";
}
.btn-primary {
  background-color: #4ac1bf;
  background-image: none;
}
.btn-primary:hover {
  background-color: #1aa19f;
}
.btn-link {
  background: none;
  text-decoration: underline!important;
  font-size: 13px;
  color: #333333;
  font-family: "bold";
}
/*////////////////////////////////////////////////////////////////////////////////
//////// NAVIGATION
////////////////////////////////////////////////////////////////////////////////*/
#navigation {
  /*background: #eee;*/

  z-index: 6000!important;
  background: #333333;
}
#navigation .reduced {
  width: .span1;
}
#navigation .expanded {
  width: .span2;
}
#navigation a {
  text-decoration: none;
}
#navigation h4 {
  font-size: 13px;
  color: #aaaaaa;
  font-family: "regular";
}
#navigation .hub_link .icon_nav {
  background: url("../img/i_nav_hub.png")!important;
  width: 48px;
  height: 48px;
  margin: 20px 15px 15px 0px;
}
#navigation .hub_link .text {
  font-size: 15px!important;
  color: #dddddd;
  font-family: "regular";
  margin-top: 50px;
}
#navigation .hub_link:hover .text {
  font-size: 15px;
  color: #4ac1bf;
  font-family: "regular";
}
#navigation ul {
  margin: 0px;
}
#navigation li {
  height: 30px;
  margin-bottom: 30px;
}
#navigation li .icon_nav {
  background: url("../img/i_nav_link_unselected.png");
  width: 16px;
  height: 16px;
  margin: 7px;
  margin-right: 15px;
}
#navigation li .text {
  padding-top: 5px;
  font-size: 13px;
  color: #dddddd;
  font-family: "regular";
}
#navigation li:hover .text,
#navigation li.active .text {
  font-size: 13px;
  color: #4ac1bf;
  font-family: "regular";
}
#navigation li:hover .icon_nav,
#navigation li.active .icon_nav {
  background: url("../img/i_nav_link_selected.png");
}
#navigation .line {
  border-top: 1px solid #aaaaaa;
  width: 48px;
}
#navigation ul.bottom {
  position: absolute;
  bottom: 0px;
}
#navigation ul.bottom li {
  margin-bottom: 15px;
}
/*////////////////////////////////////////////////////////////////////////////////
//////// CANVAS
////////////////////////////////////////////////////////////////////////////////*/
#canvas {
  position: absolute;
  overflow: hidden;
  background: #eeeee9;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 40px;
}
#canvas .panel:last-child {
  margin-right: 0px;
}
/*////////////////////////////////////////////////////////////////////////////////
//////// SCROLL PANE
////////////////////////////////////////////////////////////////////////////////*/
.scroll-pane {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.horizontal-only {
  height: auto;
  max-height: 200px;
}
/*////////////////////////////////////////////////////////////////////////////////
//////// DASHBOARD
////////////////////////////////////////////////////////////////////////////////*/
#dashboard {
  height: 100%;
  width: 976px;
}
/*////////////////////////////////////////////////////////////////////////////////
//////// OFFER CARD
////////////////////////////////////////////////////////////////////////////////*/
#offer_card {
  height: 100%;
  border-top: 3px solid #f8cf2f;
}
#offer_card .status {
  height: 50px;
  padding-top: 20px;
}
#offer_card .status p {
  font-size: 16px;
  color: #464637;
  font-family: "regular";
}
#offer_card .header {
  border-bottom: 1px solid #eeeee9;
}
#offer_card .header h2 span {
  font-size: 18px;
  color: #505152;
  font-family: "regular";
}
#offer_card .header h2 span:first-child {
  font-size: 24px;
  color: #1db194;
  font-family: "regular";
  padding-right: 20px;
}
#offer_card #offer_details {
  border-bottom: 1px solid #eeeee9;
  padding-bottom: 20px;
}
#offer_card #offer_details h3 {
  padding: 0px 20px 0px;
}
#offer_card #offer_details ul {
  margin: 0px;
  padding: 0px;
}
#offer_card #offer_details li {
  line-height: 18px;
  padding: 10px 20px;
}
#offer_card #offer_details li .icon {
  width: 12px;
  height: 14px;
  background: url("../img/i_edit_teal.png");
  background-repeat: no-repeat;
  margin-top: 5px;
}
#offer_card #offer_details li .text {
  font-size: 15px;
  color: #0c8072;
  font-family: "regular";
  width: 320px;
}
#offer_card #offer_details li:hover,
#offer_card #offer_details li.selected {
  background-color: #eeeee9;
}
#offer_card #offer_details li:hover .icon,
#offer_card #offer_details li.selected .icon {
  background: url("../img/i_arrow.png");
  height: 14px;
  width: 8px;
  background-repeat: none;
}
#offer_card #offer_details li:hover .text,
#offer_card #offer_details li.selected .text {
  font-size: 15px;
  color: #333333;
  font-family: "regular";
}
#link_select_titles a .text {
  background-color: red;
}
/*////////////////////////////////////////////////////////////////////////////////
//////// LIST
////////////////////////////////////////////////////////////////////////////////*/
#title_list {
  height: 100%;
  position: relative;
  overflow: hidden;
}
#title_list .header {
  height: 100px;
  width: 100%;
}
#title_list .list {
  width: 80%;
  margin-left: 0px;
}
#head_list table {
  margin-bottom: 0px;
}
#form-search .icon {
  background: url("../img/i_search.png");
  width: 16px;
  height: 16px;
  left: 20px;
  top: 20px;
}
#form-search input {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #eeeee9;
  border-radius: 0px;
  width: 500px;
  margin: 20px 0px 0px 20px;
}
#catalog #list {
  width: 100%;
  height: 100%;
}
#catalog #list ul.scroll-pane {
  width: 100%;
  margin-left: 0px;
}
#catalog .selected {
  background-color: #e7e7dc;
}
#catalog .selected p {
  font-size: 15px;
  color: #333333;
  font-family: "regular";
}
.asset {
  margin-left: 0px;
}
.asset > td {
  padding: 0px;
}
.cell_title p {
  padding-left: 10px;
}
#filters {
  width: 20%;
  margin-left: 0px;
  position: relative;
  height: 100%;
  float: right;
}
#filters #fields input[type="text"] {
  width: 100px;
}
#filters .quick_filters {
  height: 70px;
  position: absolute;
  bottom: 0px;
}
#selection {
  border-top: #8a8a7b 3px solid;
  width: 100%;
  height: 300px!important;
  background-color: #ffffff;
  position: absolute;
}
#selection .top_bar {
  height: 50px;
}
#selection .titles {
  height: 90%;
}
#selection .caption {
  font-size: 20px;
  color: #333333;
  font-family: "regular";
}
#selection .remove_asset {
  padding-top: 10px !important;
}
.row,
.span {
  margin-left: 0px;
}
/*////////////////////////////////////////////////////////////////////////////////
//////// GRAPH
////////////////////////////////////////////////////////////////////////////////*/
#graph {
  height: 100%;
  width: 226px;
}
/*////////////////////////////////////////////////////////////////////////////////
//////// ACTION BAR
////////////////////////////////////////////////////////////////////////////////*/
.actions_bar {
  width: 100%;
  height: 60px;
  position: relative;
  border-top: #eeeee9 1px solid;
}
.actions_bar a {
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 0px;
  margin-bottom: 0px;
}
.actions_bar a:last-child {
  margin-right: 0px;
}
.active_panel .actions_bar a {
  visibility: visible;
}
.inactive_panel .actions_bar a {
  visibility: hidden;
}