body{
	overflow-x: hidden;
	background: @col_background;
}
#container{
	height: 100%;
	overflow: hidden;
}
li{
	list-style: none;
}
.row{
	margin:0px
}
.align_left{
	position:relative;
	float: left;
}
.align_right{
	position:relative;
	float: right;
}
// with this width include padding
* {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box
}
a,li,td{
	cursor: hand; cursor: pointer;
}

/*////////////////////////////////////////////////////////////////////////////////
//////// GRID
////////////////////////////////////////////////////////////////////////////////*/
@base_column: 80px;
@base_padding: 20px;
@panel_margin: 20px;
@base_margin: 0px;
.span1,.span2,.span3,.span4,.span5,.span6,.span7,.span8{
	margin:0px;
}
.span1{
	width:@base_column;
}
.span2{
	width:@base_column*2;
}
.span3{
	width:@base_column*3;
}
.span4{
	width:@base_column*4;
}
.span5{
	width:@base_column*5;
}
.span6{
	width:@base_column*6;
}
.span7{
	width:@base_column*7;
}
.span8{
	width:@base_column*8;
}
.span1,.span2,.span3,.span4,.span5,.span6,.span7,.span8{
	.container{
		width: 100%;
		padding-left:@base_padding;
		padding-right:@base_padding;
	}
}
.panel{
	margin-left: 0px;
	margin-right: @panel_margin;
	background-color: @col_panel;
	position: relative;
}
.active_panel{
	background-color: @col_panel;

	.actions_bar{
		background-color: @col_panel;
	}
		
}
.inactive_panel{
	background-color: @inactive_panel;
	.actions_bar{
		background-color: @inactive_panel;
	}
}


/*////////////////////////////////////////////////////////////////////////////////
//////// TYPE
////////////////////////////////////////////////////////////////////////////////*/
// COLORS ////////////////////////////////////////////////////////////
@col_background: #eeeee9;
@col_panel: #fff;
@col_btn_primary_active:#4ac1bf;
// @col-btn-primary-inactive:;
@col_btn_active:#b7b7a9;
// @col-btn-inactive:;

@col_font_teal_h     :#1db194;
@col_font_teal_p     :#0c8072;

@col_font_gray_1 :#333333;
@col_font_gray_2 :#505152;
@col_font_gray_3 :#8a8a7b;
@col_font_gray_4 :#aaaaaa;
@col_font_gray_5 :#dddddd;
@col_font_gray_6 :#464637;
@col_font_gray_7 :#e7e7dc;
@inactive_panel :#f8f8f4;


// @col-font-black:;

// @col-panel-active:;
// @col-panel-inactive:;

// @col_selection:;
/// FONT SIZE ////////////////////////////////////////////////////////////
// @font-xl:;
@line_xl:32px;

@font_xl:24px;
@font_l:18px;
@font_m:15px;
@font_s:13px;

///
@font-face {
  	font-family: "light";
	src: url('../fonts/segoeuisl.ttf');
}
@font-face {
  	font-family: "regular";
	src: url('../fonts/segoeui.ttf');
}
@font-face {
  	font-family: "bold";
	src: url('../fonts/seguisb.ttf');
}

.fontStyle(@family,@size,@color){
	font-size: @size;
	color:@color;
	font-family: @family;
}
h1{

}
h2{
	.fontStyle("light",@font_xl,@col_font_gray_2);
}
h2.teal{
	.fontStyle("light",@font_xl,@col_font_teal_h);
}
h3{
	.fontStyle("regular",@font_l,@col_font_gray_3);
}
p{
	.fontStyle("light",@font_m,@col_font_gray_1);
	line-height: @line_xl;
}
p.teal{
	.fontStyle("regular",@font_m,@col_font_teal_p);
}
a{

}
a{
	.fontStyle("regular",@font_m,@col_font_teal_p);
}
a.selected{
	.fontStyle("regular",@font_m,@col_font_gray_1);	
}
/*////////////////////////////////////////////////////////////////////////////////
//////// BTN
////////////////////////////////////////////////////////////////////////////////*/
.btn{
	background-color: @col_btn_active;
	padding: @base_padding/2;
	background-image:none;
	border-color:none;
	text-shadow:none;
	border: 0px;
	border-radius: 0px;
	-webkit-border-radius : 0px;
	.fontStyle("bold",@font_s,#fff);	
}
.btn-primary{
	background-color: @col_btn_primary_active;
	:hover{
		background-color: @col_font_teal_h;
	}
}
.btn-link{
	background: none;
	text-decoration: underline!important;
	.fontStyle("bold",@font_s,@col_font_gray_1);	
}

/*////////////////////////////////////////////////////////////////////////////////
//////// NAVIGATION
////////////////////////////////////////////////////////////////////////////////*/
#navigation{
	/*background: #eee;*/
	z-index: 6000!important;
	background: @col_font_gray_1;
	
	.reduced{
		width:.span1;
	}
	.expanded{
		width:.span2;
	}
	a{
		text-decoration: none;
	}
	h4{
		.fontStyle("light",@font_s,@col_font_gray_4);
	}
	.hub_link{
		.icon_nav{
			background: url("../img/i_nav_hub.png");
			width:48px;
			height: 48px;
			margin:20px 15px 15px 0px;
		}
		.text{
			.fontStyle("light",@font_m,@col_font_gray_5);
			margin-top:50px;
		}

	}
	.hub_link:hover{
		.text{
			.fontStyle("light",@font_m,@col_btn_primary_active);
		}
	}
	ul{
		margin: 0px;
	}

	li{
		height: 30px;
		margin-bottom:30px;
		.icon_nav{
			background: url("../img/i_nav_link_unselected.png");
			width:16px;
			height: 16px;
			margin:7px;
			margin-right:15px;
		}
		.text{
			padding-top: 5px;
			.fontStyle("light",@font_s,@col_font_gray_5);	
		}

		//margin:30px;
		//background-color: red;
	}
	li:hover{
		.text{
			.fontStyle("light",@font_s,@col_btn_primary_active);
		}
		.icon_nav{
			background: url("../img/i_nav_link_selected.png");
		}
	}
	.line{
		border-top:1px solid @col_font_gray_4;
		width:48px;
	}
	ul.bottom{
		position: absolute;
		bottom:0px;

		li{
			margin-bottom:15px;
		}
	}
}
/*////////////////////////////////////////////////////////////////////////////////
//////// CANVAS
////////////////////////////////////////////////////////////////////////////////*/
#canvas{
	position: absolute;
	overflow: hidden;
	background: @col_background;
	padding-top: @base_padding;
	padding-bottom: @base_padding;
	padding-right: @base_padding;
	padding-left: @base_padding*2;

	.panel:last-child{
		margin-right: 0px;
	}
}
/*////////////////////////////////////////////////////////////////////////////////
//////// SCROLL PANE
////////////////////////////////////////////////////////////////////////////////*/
.scroll-pane
{
	width: 100%;
    height: 100%;
    overflow: auto;
}
.horizontal-only
{
  height: auto;
  max-height: 200px;
}
.row.flexible{   //row with not fix height
}
/*////////////////////////////////////////////////////////////////////////////////
//////// DASHBOARD
////////////////////////////////////////////////////////////////////////////////*/
#dashboard{
	height  : 100%;
	width   : 976px;
}
/*////////////////////////////////////////////////////////////////////////////////
//////// OFFER CARD
////////////////////////////////////////////////////////////////////////////////*/
#offer_card{
	height: 100%;
	border-top:3px solid #f8cf2f;
	.status{
		height: 50px;
		padding-top: @base_padding;
		//padding-bottom: @base_padding;
		p{
			
			.fontStyle("regular",@font_m + 1,@col_font_gray_6);
		}
	}
	.header{
		h2 span{
			.fontStyle("light",@font_xl,@col_font_gray_2);
		}
		h2 span:first-child{
			.fontStyle("light",@font_xl,@col_font_teal_h);
		}
		//padding-top: @base_padding;
		//padding-bottom: @base_padding;
		border-bottom: 1px solid @col_background;
	}
	#offer_details{
		border-bottom: 1px solid @col_background;
		padding-bottom: 20px;

		//padding-top: @base_padding;
		//padding-bottom: @base_padding;
		h3{
			padding: 0px 20px 0px;
		}
		ul{
			margin: 0px;
			padding: 0px;
		}

		li{
			line-height: 18px;
			padding: 10px 20px;
			.icon{
				width:12px;
				height: 14px;
				background: url("../img/i_edit_teal.png");
				background-repeat:no-repeat;
				margin-top: 5px;
			}
			.text{
				//padding-top: 5px;
				.fontStyle("regular",@font_m,@col_font_teal_p);	
				width:320px;
			}

			//margin:30px;
			//background-color: red;
		}
		li:hover,li.selected {
			background-color: @col_background;
			.icon{
				background: url("../img/i_arrow.png");
				height: 14px;
				width:8px;
				background-repeat:none;
			}
			.text{
				.fontStyle("regular",@font_m,@col_font_gray_1);
			}
		}
	}
	

}

/*////////////////////////////////////////////////////////////////////////////////
//////// LIST
////////////////////////////////////////////////////////////////////////////////*/

#title_list{
	height: 100%;
	position:relative;
	overflow:hidden;

	.header{
		height: 100px;
		width: 100%;
	}
	.list{
		width: 80%;
		margin-left: 0px;
	}
}
#head_list table{margin-bottom: 0px;}
#form-search input{
	border: none;
	box-shadow :none;
	border-bottom: 1px solid @col_background;
	border-radius: 0px;
	width:500px;
	margin: 20px 0px 0px 20px;
}
#catalog{
	//height: 560px;

	#list{
		width:100%; //width:80%;
		height: 100%;

		ul.scroll-pane {
			width:100%;
			margin-left: 0px;
		}

	}
	.cover_title{
			//width:400px;
		}
	.cell{
		//padding:10px;
	}
	.selected{
		background-color: @col_font_gray_7;
		p{
			.fontStyle("regular",@font_m,@col_font_gray_1);
		}
	}
} 
.asset{
	margin-left: 0px;
	>td{
		padding:0px;
	}	
}
.cell_title p{
	padding-left: @base_padding /2;
}
#filters{
	width: 20%;
	margin-left: 0px;
	position: relative;
	height: 100%;
	float:right;

	#fields{
		input[type="text"]{
			width:100px;
		}
	}
	.quick_filters{
		height: 70px;
		position: absolute;
		bottom: 0px;
	}
}
#selection{
	border-top: @col_font_gray_3 3px solid;
	width: 100%;
	height: 300px!important;
	background-color: @col_panel;
	position:absolute;
	.top_bar{
		height: 50px;
	}
	.titles{
		height: 90%;
	}
	.caption{
		.fontStyle("light",20px,@col_font_gray_1);
	}
	.remove_asset{
		padding-top: @base_padding/2!important;
	}
}



.row, .span{
	margin-left: 0px;
}
.actions_bar{
	
}
/*////////////////////////////////////////////////////////////////////////////////
//////// GRAPH
////////////////////////////////////////////////////////////////////////////////*/
#graph{
	height: 100%;
	width   : 226px;
}
/*////////////////////////////////////////////////////////////////////////////////
//////// ACTION BAR
////////////////////////////////////////////////////////////////////////////////*/
.actions_bar{
	width: 100%;
	height: 60px;
	position: relative;
	border-top: @col_background 1px solid;

	a{
		margin-top:@base_padding/2;
		margin-right: @base_padding;
		margin-left: 0px;
		margin-bottom:0px;
	}
	a:last-child{
		margin-right: 0px;
	}

}
.active_panel .actions_bar a{
	visibility: visible;
}
.inactive_panel .actions_bar a{
	visibility: hidden;
}