<script>
	// var links = ["myHub","offer",];
	// var htmlL = '<ul>';
	// for(var i in links){ 
	// 	htmlL+="<li><a href='#"+links[i]+"'>"+links[i]+"</a></li>"
	// }
	// htmlL+="</ul>"
	// $("#navigation .container").append(htmlL);
</script>

<div id="[component_id]" class="affix" >
	<div class="container">
		<ul><li class="row hub_link"><a href="#my_hub"><div class="icon_nav span"></div><div class="span text">My Hub</div></a></li></ul>
		<div class="row line"></div>
		<h4>Monetize</h4>
		<ul>
			<li><a href="#new_offer"><div class="icon_nav span"></div><div class="span text">New offer</div></a></li>
			<li><a href="#"><div class="icon_nav span"></div><div class="span text">All offers</div></a></li>
			<li><a href="#"><div class="icon_nav span"></div><div class="span text">Advertising</div></a></li>
		</ul>
		<h4>Curate</h4>
		<ul>
			<li><a href="#"><div class="icon_nav span"></div><div class="span text">All campaigns</div></a></li>
		</ul>
		<h4>Health</h4>
		<ul>
			<li><a href="#"><div class="icon_nav span"></div><div class="span text">Personal stats</div></a></li>
		</ul>

		<ul class="bottom">
			<li class="line"></li>
			<li><a href="#"><div class="icon_nav span"></div><div class="span text">Settings</div></a></li>
			<li><a href="#"><div class="icon_nav span"></div><div class="span text">Help</div></a></li>
		</ul>
	</div>
</div>
