<script>
	$('#link_select_groups').tooltip({
		html:true
	});
	$('#link_select_titles').tooltip({
		html:true
	});
	$('#link_select_devices').tooltip({
		html:true
	});
	$('#link_select_prices').tooltip({
		html:true
	});
	$('#link_select_time').tooltip({
		html:true
	});
</script>

<div id="[component_id]" class="panel primary span5" >
		<div class="row flexible ">
			<div class="status container">
				<p class="align_right">Draft</p>
			</div>
			<div class="scroll-pane">
				<div class="header row container">
					<span class="align_left"><h2 class="teal"><span>Offer</span><span>New Offer</span></h2></span>
					<span class="align_right"><img src="img/i_edit_gray.png" width="14" height="14"></span>
				</div>
				<div id="offer_details" class="row">
					<h3>Offer Details</h3>
					<div>
						<ul>
							<li class="row">
								<a class="teal" href="#select_groups">
									<div class="span text">All subscriber groups</div>
									<div class="icon span align_right"></div>
								</a>
							</li>
							<li class="row">
								<a class="teal" href="#select_titles">
									<div class="span text">get all titles</div>
									<div class="icon span align_right"></div>
								</a>
							</li>
							<li class="row">
								<a class="teal" href="#select_devices">
									<div class="span text">on all devices</div>
									<div class="icon span align_right"></div>
								</a>
							</li>
							<li class="row">
								<a class="teal" href="#select_prices">
									<div class="span text">for normal price</div>
									<div class="icon span align_right"></div>
								</a>
							</li>
							<li class="row">
								<a class="teal" href="#select_time">
									<div class="span text">from now until further notice</div>
									<div class="icon span align_right"></div>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="row container">
					<p>Terms & conditions</p>
				</div>
				<div class="row container">
					<h3>Testing</h3>
					<p>A/B offer</p>
					<p>Confidential offer</p>
					
				</div>
				<div class="row container">
					<h3>Associated campaign</h3>
					<p>Request campaign</p>
				</div>
			</div>
		</div>

	<div class="actions_bar row">
		<div class="container">
			<a href="#" class="btn btn-primary align_left">Submit Offer</a>
			<a href="#" class="btn align_left">Save Draft</a>
			<a href="#" class="btn align_right">Discard</a>
		</div>
    </div>
</div>
