<script >
////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // FILTERS
    /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // $("#fields .scroll-pane").append("<ul></ul>");

    // var html="";
    //titles
    // html += '<li class="filter_'+catalog.titles.filter.name+'"><input class="span " type="'+catalog.titles.filter.type+'" filter="'+catalog.titles.filter.id+'" name="'+catalog.titles.filter.name+'" value="'+catalog.titles.filter.value+'"><input class="span eye" type="checkbox" name="'+catalog.titles.filter.name+'" value="show" filter="'+catalog.titles.filter.value+'"></li>';
     //actors
    // html += '<li class="filter_'+catalog.actors.filter.name+'"><input class="span" type="'+catalog.actors.filter.type+'" filter="'+catalog.actors.filter.id+'" name="'+catalog.actors.filter.name+'" value="'+catalog.actors.filter.value+'"><input class="span eye" type="checkbox" name="'+catalog.actors.filter.name+'" value="show" filter="'+catalog.actors.filter.value+'"></li>';
    // html += '<li class="filter_'+catalog.sales.filter.name+'"><input class="span" type="'+catalog.sales.filter.type+'" filter="'+catalog.sales.filter.id+'" name="'+catalog.sales.filter.name+'" value="'+catalog.sales.filter.value+'"><input class="span eye" type="checkbox" name="'+catalog.sales.filter.name+'" value="show" filter="'+catalog.sales.filter.value+'" graph="'+catalog.sales.filter.graph+'"></li>';
    
    // $("#fields .scroll-pane ul").append(html);
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // SEARCH
    /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // MODAL
    /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    $('#modal_title_list').modal({
        show:false
    });

    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // INFINITE SCROLLING
    /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    var loadingInfinite;





    
</script>

<div id="[component_id]" class="panel primary span8" >
<!-- header ======================================= -->
    <div class="header row container">
        <h2>Titles</h2>
    </div>
    <div class="row container">
        <div class="span"><a class="btn" >New</a></span></div>
        <div class="span">
            <form id="form-search">
                <!-- <INPUT type = "text" onKeyDown = "alert('Key pressed')"> -->
                <div class="icon span align_left"></div>
                <input type="text" class="" value="" onKeyUp="searchELemInList(this);">
            </form>
        </div>
    </div>
<!-- catalog ======================================= -->
    <div id="catalog" class="row flexible">
        <div id="list" class="span container">
            <div id="head_list"></div>
            <div class="scroll-pane">
                <table  class="table ">
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <!-- <div id="filters" class="span">
            <div id="fields" class="row">
                <div class="scroll-pane" > </div>
            </div>
            <div class="row quick_filters ">
                <img width="222" height="70" src="[image_path]quick_filter.jpg"/>
            </div> 
        </div>  -->
    </div> 
<!-- selection ======================================= -->
    <div id="selection">
        <div class="row top_bar container">
            <div class="span caption"><p></p></div>
            <div class="span links align_right">
                <a href="#deselectAll" type="button" class="btn btn-link ">Clear tray</a>
            </div>
        </div>
        <div class="row titles scroll-pane container">
            <div class="scroll-pane">
                <table class="table ">
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
<!-- actions_bar ======================================= -->
    <div class="row actions_bar">
        <div class="container">
            <a href="#submit_selection" role="button" class="span align_left btn btn-primary align_left">Confirm Selection</a>
            <a href="#selectAll" class="btn btn align_left">Select All</a>
            <a href="#close_selection" role="button" class="span align_right btn ">Cancel</a>
            
        </div>
    </div>
</div>

<!-- Modal -->
<div id="modal_[component_id]" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="modal_[component_id]_label"></h3>
    </div>
    <div class="modal-body"></div>
    <div class="modal-footer"></div>
</div>


